<%@ Master Language="C#" AutoEventWireup="true" CodeFile="MasterPage.master.cs" Inherits="MasterPage" %>

<!DOCTYPE html>

<html>
<head runat="server">
    <title></title>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
    <style>
.menu-bar { 
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}
 img.menu {
    width: 150px;
    height: auto;
    }
.site-title {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    margin-top: 20px;


    </style>
</head>
<body dir="rtl">
    <h1>שלום <%=Session["username"]%></h1>    
    <center>
    <table width="80%" border="0">
<tr>
    <td width="150px">
        <img src="Images/לוגו.png" style="width:100px; height:auto;">
    </td>

<td class="menu-bar" >
    
    <h1 class="site-title">אתר החיות של עיליי</h1>
        
</td>

</tr>

        
    
        <tr>
            <td colspan="2">
                <a href="דף%20הבית.aspx">
                    <img class="menu" src="Images/דף%20הבית.png" /></a>
                <a href="אודות.aspx">
                    <img class="menu" src="Images/אודות.png" /></a>
                <a href="גלריה.aspx">
                    <img class="menu" src="Images/גלריה.png" /></a>
                <%if  (Session["manger"] != "ok" && Session["user"] != "ok") { %>
                <a href="הרשמה.aspx">
                    <img class="menu" src="Images/הרשמה.png" /></a>
                <a href="כניסה.aspx">
                    <img class="menu"  src="Images/כניסה.png" /></a>
                    <% } %>
                <%if (Session["manger"] == "ok") { %>
                <a href="מנהל.aspx">
                    <img class="menu" src="Images/מנהל.png" /></a>
                <% } %>
                <a href="חיפוש.aspx">
                    <img class="menu" src="Images/חיפוש.png" /></a>
                    <a href="עדכון%20פרטים.aspx">
                    <img class="menu" src="Images/עדכון%20פרטים.png" /></a>
                <%if  (Session["manger"] == "ok" || Session["user"] == "ok") { %>
                <a href="יציאה.aspx">
                    <img class="menu" src="Images/יציאה.png" /></a>
                <% } %>
            </td>

        </tr>
        <tr style="height:500px;vertical-align:top"
            >
            <td colspan="2">
                <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
                </asp:ContentPlaceHolder>
            </td>
        </tr>
    </table>
        </center>
</body>
</html>
